<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132193881878-s9f5prbugf9shbrnb4v8v0dkfk9kdfs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132193881878-s9f5prbugf9shbrnb4v8v0dkfk9kdfs0</string>
	<key>API_KEY</key>
	<string>AIzaSyAseqOlRfMGlugiqfW3VQm1ft0_oZaGQCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>132193881878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizza-6cfaa</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizza-6cfaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132193881878:ios:5143e666d3d35d27dbca37</string>
</dict>
</plist>